Build/
.vs/
External/oidn/
External/*.zip
Assets/Meshes/

CMakeCache.txt
CMakeFiles/

vcpkg_installed/

*.sln
*.vcxproj*
*.user
*.msbuild*

*.exe
*.dll
*.lib
*.so
*.a
*.o
*.pdb

*.log
*.tmp
*.bak
*.swp

.DS_Store